<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ss_cloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,128}}</string>
                <key>offset</key>
                <string>{0,-256}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,512},{960,128}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>ss_towers_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{513,56}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{513,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{343,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,132},{343,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,9},{343,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,306},{225,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,9},{225,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,250},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,250},{227,56}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,9},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,190},{285,56}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,9},{285,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,248},{227,56}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,10},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{227,56}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,10},{227,56}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
            <key>ss_towers_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,190},{227,58}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,8},{227,58}}</string>
                <key>sourceSize</key>
                <string>{515,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stages_theme53-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f091a2088415fd1fb66b3bfad15dcafd:1/1$</string>
            <key>textureFileName</key>
            <string>stages_theme53-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
