<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1102},{478,68}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,218},{478,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>1growupbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1032},{478,68}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,218},{478,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>1growupbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,1032},{478,68}}</string>
                <key>offset</key>
                <string>{0,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,218},{478,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1254},{450,228}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,59},{450,228}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,1484},{296,38}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,234},{296,38}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,328},{292,26}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,241},{292,26}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1484},{296,40}}</string>
                <key>offset</key>
                <string>{0,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{312,233},{296,40}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>20collected_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,622},{302,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{302,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>20collected_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1172},{342,102}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{342,102}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>20collected_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,512},{302,104}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{302,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>2growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,1032},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>2growupbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,644},{540,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,118},{540,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>2growupbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,342},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>3growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,172},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>3growupbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,644},{540,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,118},{540,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>3growupbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>4growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,2},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>4growupbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,644},{540,168}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,118},{540,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>4growupbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{478,168}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,118},{478,168}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>b_num_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1438},{100,34}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,185},{100,34}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,86},{82,34}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,185},{82,34}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,588},{78,36}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,184},{78,36}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,170},{80,34}}</string>
                <key>offset</key>
                <string>{-1,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,185},{80,34}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1276},{80,36}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,184},{80,36}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_num_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1386},{78,36}}</string>
                <key>offset</key>
                <string>{-2,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,184},{78,36}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>btnbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,252},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btnbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1358},{38,26}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,33},{38,26}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btnbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,252},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>eggrewardtip_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,596},{434,22}}</string>
                <key>offset</key>
                <string>{14,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,282},{434,22}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>eggrewardtip_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,644},{544,20}}</string>
                <key>offset</key>
                <string>{6,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,283},{544,20}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>eggrewardtip_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,86},{434,22}}</string>
                <key>offset</key>
                <string>{14,-113}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,282},{434,22}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>getstage_deepsea_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,622},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_deepsea_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,1186},{336,98}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{336,98}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_deepsea_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,622},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_desert_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,622},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_desert_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1268,622},{318,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{318,98}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_desert_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,626},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_jungle_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,1172},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_jungle_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,622},{318,98}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{318,98}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_jungle_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1172},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_skyline_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1142,1172},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_skyline_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1186},{328,98}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,11},{328,98}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>getstage_skyline_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,482},{320,104}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{320,104}}</string>
                <key>sourceSize</key>
                <string>{360,120}</string>
            </dict>
            <key>growupbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,644},{608,68}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,141},{608,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>growupbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,644},{608,68}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,141},{608,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>growupbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{608,68}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,141},{608,68}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>reward_bg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1306},{104,28}}</string>
                <key>offset</key>
                <string>{0,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,14},{104,28}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>reward_bg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1252},{116,22}}</string>
                <key>offset</key>
                <string>{1,151}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{403,18},{116,22}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>reward_bg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1276},{104,28}}</string>
                <key>offset</key>
                <string>{0,152}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{408,14},{104,28}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>s_num_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,588},{54,26}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,128},{54,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,522},{72,26}}</string>
                <key>offset</key>
                <string>{0,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,128},{72,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{60,26}}</string>
                <key>offset</key>
                <string>{-1,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,128},{60,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1190},{60,26}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,128},{60,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,58},{58,26}}</string>
                <key>offset</key>
                <string>{-2,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,128},{58,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_num_75.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,30},{58,26}}</string>
                <key>offset</key>
                <string>{-3,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,128},{58,26}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>single_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,1336},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>themeunlocked_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,944},{298,86}}</string>
                <key>offset</key>
                <string>{143,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,122},{298,86}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>themeunlocked_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1186},{334,64}}</string>
                <key>offset</key>
                <string>{145,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{438,139},{334,64}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>themeunlocked_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,944},{298,84}}</string>
                <key>offset</key>
                <string>{143,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{454,123},{298,84}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsReward2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1526,1526}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6454092480d443f1e580d2ae02da8952$</string>
            <key>textureFileName</key>
            <string>PetsReward2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
