<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>PetBack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,818},{58,60}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PetBack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,938},{58,60}}</string>
                <key>offset</key>
                <string>{-4,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>PetBeFeed01.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,788},{78,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{78,68}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,824},{106,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,92}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed03.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,644},{138,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{138,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed04.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,788},{78,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,60},{78,68}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed05.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,644},{138,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{138,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed06.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,824},{106,92}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,92}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed07.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,644},{138,118}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,29},{138,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,124},{162,140}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{162,140}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBeFeed09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,266},{180,152}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,7},{180,152}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetCookie00.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,784},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetCookie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,694},{98,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetEvolution1.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,858},{76,80}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,45},{76,80}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetEvolution2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,2},{120,120}}</string>
                <key>offset</key>
                <string>{3,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,23},{120,120}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetEvolution3.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,644},{186,178}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,178}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetMainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>PetMenu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,878},{58,60}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>PetMenu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,824},{58,60}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{58,60}}</string>
                <key>sourceSize</key>
                <string>{100,90}</string>
            </dict>
            <key>PetMilk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,972},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetMilk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{98,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{98,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>PetNest01.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,644},{186,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{186,88}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetNest02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{186,88}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,98},{186,88}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetNest03.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,644},{186,64}}</string>
                <key>offset</key>
                <string>{0,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{186,64}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetNestBig01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,602},{294,114}}</string>
                <key>offset</key>
                <string>{-1,-143}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,286},{294,114}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>PetNestBig02.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,602},{342,90}}</string>
                <key>offset</key>
                <string>{-8,-165}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,330},{342,90}}</string>
                <key>sourceSize</key>
                <string>{720,420}</string>
            </dict>
            <key>PetShop01_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,764},{174,52}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShop01_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,734},{174,52}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShop01_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,764},{174,52}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShop02_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,710},{174,52}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShop02_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,716},{174,52}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetShop02_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,710},{174,52}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{174,52}}</string>
                <key>sourceSize</key>
                <string>{208,90}</string>
            </dict>
            <key>PetTimeBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,788},{164,46}}</string>
                <key>offset</key>
                <string>{2,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,140},{164,46}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetToolBar.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{960,86}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,86}}</string>
                <key>sourceSize</key>
                <string>{960,90}</string>
            </dict>
            <key>rolltip_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>rolltip_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1604,602},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>rolltip_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1884,448},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>whale_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,90},{918,510}}</string>
                <key>offset</key>
                <string>{-4,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,116},{918,510}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsNest-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b335b36471030c51d70a743d2b677ee7$</string>
            <key>textureFileName</key>
            <string>PetsNest-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
