<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>disablead.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,494},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>disablead_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,228},{86,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{86,72}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>disablead_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,494},{102,68}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,51},{102,68}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>disablead_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,564},{86,72}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{86,72}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>extremeunlock_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,326},{248,62}}</string>
                <key>offset</key>
                <string>{134,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,44},{248,62}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>extremeunlock_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,326},{212,72}}</string>
                <key>offset</key>
                <string>{152,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{316,41},{212,72}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>extremeunlock_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{248,62}}</string>
                <key>offset</key>
                <string>{134,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,44},{248,62}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>price_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,326},{180,60}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{180,60}}</string>
                <key>sourceSize</key>
                <string>{200,70}</string>
            </dict>
            <key>shop_20collected_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,326},{406,70}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{406,70}}</string>
                <key>sourceSize</key>
                <string>{440,130}</string>
            </dict>
            <key>shop_20collected_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{410,74}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,27},{410,74}}</string>
                <key>sourceSize</key>
                <string>{440,130}</string>
            </dict>
            <key>shop_20collected_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,326},{406,70}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,28},{406,70}}</string>
                <key>sourceSize</key>
                <string>{440,130}</string>
            </dict>
            <key>shop_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,644},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>shop_close_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,618},{68,68}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,3},{68,68}}</string>
                <key>sourceSize</key>
                <string>{100,80}</string>
            </dict>
            <key>shop_ok_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,330},{74,28}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,30},{74,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_ok_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,326},{38,26}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,31},{38,26}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_ok_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,330},{74,28}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,30},{74,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_cancel_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,698},{50,28}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,30},{50,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_cancel_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,708},{102,26}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,31},{102,26}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_cancel_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,698},{50,28}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,30},{50,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_goon_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,302},{100,26}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,32},{100,26}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_goon_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,508},{60,26}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,31},{60,26}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_goon_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,198},{100,28}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,30},{100,28}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_text_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{398,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{398,108}}</string>
                <key>sourceSize</key>
                <string>{440,130}</string>
            </dict>
            <key>shop_warning_text_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,102}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,16},{410,102}}</string>
                <key>sourceSize</key>
                <string>{440,130}</string>
            </dict>
            <key>shop_warning_text_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{398,108}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{398,108}}</string>
                <key>sourceSize</key>
                <string>{440,130}</string>
            </dict>
            <key>sicon_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,370},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,576},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,370},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,246},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,66},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_shovel.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,114},{130,122}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{130,122}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,272},{28,24}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,116},{28,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,706},{44,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,116},{44,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x100.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,536},{60,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,116},{60,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x105.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,638},{58,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,116},{58,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x110.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,632},{56,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,116},{56,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x1100.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,566},{70,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,116},{70,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x12.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,716},{44,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,116},{44,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x1200.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,494},{70,24}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,116},{70,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x1400.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,540},{72,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,116},{72,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x15.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,618},{44,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,116},{44,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x1500.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,198},{72,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,116},{72,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x155.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{58,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,116},{58,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,330},{34,24}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,117},{34,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x22.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,688},{48,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,116},{48,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x220.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,690},{64,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,116},{64,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x260.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,664},{64,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,116},{64,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x280.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,638},{64,24}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,117},{64,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,714},{34,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,116},{34,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x30.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,698},{48,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,116},{48,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x320.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,562},{64,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,116},{64,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x420.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,562},{64,24}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,116},{64,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x450.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{62,24}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,116},{62,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,714},{32,22}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,118},{32,22}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x500.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,566},{64,24}}</string>
                <key>offset</key>
                <string>{2,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,116},{64,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x525.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{62,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,116},{62,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x55.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,538},{46,22}}</string>
                <key>offset</key>
                <string>{1,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,118},{46,22}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,714},{34,24}}</string>
                <key>offset</key>
                <string>{-1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,116},{34,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x65.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,690},{48,24}}</string>
                <key>offset</key>
                <string>{0,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,117},{48,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x70.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,698},{48,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,116},{48,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,714},{34,24}}</string>
                <key>offset</key>
                <string>{0,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,116},{34,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>sicon_x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,714},{34,24}}</string>
                <key>offset</key>
                <string>{1,-48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,116},{34,24}}</string>
                <key>sourceSize</key>
                <string>{130,160}</string>
            </dict>
            <key>switch_free_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,114},{210,46}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{210,46}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>switch_free_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,114},{210,46}}</string>
                <key>offset</key>
                <string>{-25,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{210,46}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>switch_shop_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,66},{210,46}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,25},{210,46}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>switch_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,326},{210,46}}</string>
                <key>offset</key>
                <string>{20,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,25},{210,46}}</string>
                <key>sourceSize</key>
                <string>{260,100}</string>
            </dict>
            <key>valuepack_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,628},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>valuepack_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,636},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>valuepack_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,566},{68,68}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{68,68}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsShop2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{750,750}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81b07237360d31fed095e0216897fb3b$</string>
            <key>textureFileName</key>
            <string>PetsShop2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
