<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EPetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,120},{84,44}}</string>
                <key>offset</key>
                <string>{27,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,49},{84,44}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,34},{84,44}}</string>
                <key>offset</key>
                <string>{27,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,49},{84,44}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,188},{84,34}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{84,34}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,102},{84,34}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,48},{84,34}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{48,30}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,71},{48,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,354},{48,30}}</string>
                <key>offset</key>
                <string>{14,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,71},{48,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,262},{26,24}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,88},{26,24}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,236},{26,24}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,89},{26,24}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,150},{54,30}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{54,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,94},{54,30}}</string>
                <key>offset</key>
                <string>{17,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,31},{54,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,192},{154,136}}</string>
                <key>offset</key>
                <string>{-1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,7},{154,136}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,96},{156,132}}</string>
                <key>offset</key>
                <string>{-2,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{156,132}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{154,142}}</string>
                <key>offset</key>
                <string>{-1,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{154,142}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,230},{140,132}}</string>
                <key>offset</key>
                <string>{14,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,12},{140,132}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,330},{138,128}}</string>
                <key>offset</key>
                <string>{13,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,16},{138,128}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,102},{140,132}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,11},{140,132}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{176,90}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,41},{176,90}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,90}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,51},{176,90}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{174,92}}</string>
                <key>offset</key>
                <string>{-4,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{174,92}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,118},{130,118}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{130,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,2},{132,114}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,30},{132,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,104},{130,126}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{130,126}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{100,134}}</string>
                <key>offset</key>
                <string>{-3,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,7},{100,134}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,342},{102,130}}</string>
                <key>offset</key>
                <string>{-3,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,11},{102,130}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{100,142}}</string>
                <key>offset</key>
                <string>{-3,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{100,142}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,280},{72,40}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{72,40}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,206},{72,40}}</string>
                <key>offset</key>
                <string>{22,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{79,79},{72,40}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,386},{78,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{78,34}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,274},{78,34}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,80},{78,34}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{972,2},{48,30}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,99},{48,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,354},{48,30}}</string>
                <key>offset</key>
                <string>{13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,99},{48,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,262},{26,24}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,98},{26,24}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,236},{26,24}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,99},{26,24}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,150},{54,30}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{54,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,94},{54,30}}</string>
                <key>offset</key>
                <string>{12,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,72},{54,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,236},{130,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,41},{130,104}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{134,102}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,45},{134,102}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,232},{130,112}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,37},{130,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,446},{110,110}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{110,110}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,346},{112,106}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,38},{112,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,238},{110,112}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,32},{110,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,94},{160,96}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,57},{160,96}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{158,98}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,63},{158,98}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{160,96}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,45},{160,96}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{124,110}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,41},{124,110}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,364},{128,110}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,43},{128,110}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,460},{124,110}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,39},{124,110}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,446},{100,102}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,42},{100,102}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,476},{104,100}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,44},{104,100}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,476},{100,108}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{100,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsTheme01-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ffc947e24db7eed1dd43e3bd3f7e9d9e$</string>
            <key>textureFileName</key>
            <string>PetsTheme01-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
