<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EggBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,758},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,542},{98,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,650},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,542},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,434},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,434},{98,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,326},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,542},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,326},{98,106}}</string>
                <key>offset</key>
                <string>{-6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,434},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggBoss13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,326},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,218},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,218},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,876},{100,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,90},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,110},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,680},{100,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,90},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,90},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,680},{100,106}}</string>
                <key>offset</key>
                <string>{6,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFat13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,884},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,760},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,572},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,2},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,636},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,780},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,464},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,512},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{122,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,29},{122,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,332},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggFly13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,2},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,866},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,866},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,650},{96,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{96,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,758},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,758},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,866},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,758},{96,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{96,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,758},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,650},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,866},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,650},{96,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,29},{96,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,788},{86,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,29},{86,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,224},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,542},{98,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{86,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{86,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,434},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,326},{98,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,904},{86,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{86,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand22_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,218},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,116},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{98,106}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,904},{86,112}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{86,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggLand23_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,110},{98,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,29},{98,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{130,168}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,183},{130,168}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>EggWhale12_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{130,168}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,183},{130,168}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>EggWhale13_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,116},{100,106}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,29},{100,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggWhale13_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,168}}</string>
                <key>offset</key>
                <string>{3,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,183},{130,168}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
            <key>EggYZ_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,440},{90,22}}</string>
                <key>offset</key>
                <string>{1,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,120},{90,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EggYZ_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{142,34}}</string>
                <key>offset</key>
                <string>{0,-104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,287},{142,34}}</string>
                <key>sourceSize</key>
                <string>{500,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsEgg-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b738d4c00dd8dd36c452065a08d0643$</string>
            <key>textureFileName</key>
            <string>PetsEgg-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
