<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>speech_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{154,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{154,112}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{66,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,40},{66,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,300},{110,22}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,37},{110,22}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_1_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{66,20}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,40},{66,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,380},{80,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,29},{80,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{132,50}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,27},{132,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_2_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,336},{80,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,29},{80,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,102},{120,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,29},{120,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,54},{116,46}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,24},{116,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_3_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{120,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,29},{120,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,296},{102,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,29},{102,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{116,50}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,23},{116,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_4_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,242},{102,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{102,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,196},{102,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{102,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,300},{112,46}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,25},{112,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,150},{102,44}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{102,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,334},{90,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{90,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{110,68}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,16},{110,68}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_a_6_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,292},{90,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{90,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{154,112}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{154,112}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_1_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,196},{104,46}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{104,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_1_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,150},{82,46}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,26},{82,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_1_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,102},{104,46}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{104,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_2_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,288},{90,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,29},{90,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_2_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,54},{126,46}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,26},{126,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_2_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,244},{90,44}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,29},{90,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_3_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,400},{66,44}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{66,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_3_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,296},{100,50}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,26},{100,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_3_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,102},{66,44}}</string>
                <key>offset</key>
                <string>{3,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{66,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_4_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,246},{84,44}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,29},{84,44}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_4_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,148},{106,46}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,26},{106,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_4_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,198},{84,46}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,27},{84,46}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_5_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,412},{102,20}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{102,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_5_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,244},{100,50}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{100,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_5_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,390},{102,20}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,40},{102,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_6_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,426},{108,20}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{108,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_6_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,338},{86,50}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,26},{86,50}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>speech_b_6_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,422},{108,20}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,40},{108,20}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsNest2-hd.pvr.ccz</string>
            <key>size</key>
            <string>{454,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bdf3885b710d88c2a05357e6b798c81$</string>
            <key>textureFileName</key>
            <string>PetsNest2-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
