<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>20collected_rewardpic.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{262,194}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,29},{262,194}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>add.png</key>
            <dict>
                <key>frame</key>
                <string>{{2014,2},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{30,30}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>b_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,592},{234,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,588},{234,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,582},{234,236}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>b_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,362},{238,236}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{238,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>btnbg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,218},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>btnbg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{1940,2},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>getstage_deepsea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{268,230}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{268,230}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_desert.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,362},{268,218}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,18},{268,218}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_jungle.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,362},{268,224}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,12},{268,224}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>getstage_skyline.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,362},{268,228}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,14},{268,228}}</string>
                <key>sourceSize</key>
                <string>{270,250}</string>
            </dict>
            <key>growupbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,2},{730,358}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,2},{730,358}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>monsterbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,290},{286,286}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{286,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{910,358}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{910,358}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>s_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,696},{162,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{162,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,530},{164,164}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{164,164}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,578},{162,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{162,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,600},{162,166}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{162,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,362},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{166,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>s_nest_add2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,790},{166,166}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{166,166}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>whale_growup.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,2},{292,286}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{292,286}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsReward1-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d703cb57e892b8956b1688e1344f74f3$</string>
            <key>textureFileName</key>
            <string>PetsReward1-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
