<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>first_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{596,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{596,332}}</string>
                <key>sourceSize</key>
                <string>{740,440}</string>
            </dict>
            <key>first_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{582,330}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,55},{582,330}}</string>
                <key>sourceSize</key>
                <string>{740,440}</string>
            </dict>
            <key>first_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,54},{596,332}}</string>
                <key>sourceSize</key>
                <string>{740,440}</string>
            </dict>
            <key>first_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{722,440}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{722,440}}</string>
                <key>sourceSize</key>
                <string>{740,440}</string>
            </dict>
            <key>first_btnbg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1002},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>first_btnbg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,1218},{38,26}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,33},{38,26}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>first_btnbg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1002},{74,28}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,31},{74,28}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>first_btnbg_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,1032},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
            <key>first_btnbg_pressed.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,1002},{214,72}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{214,72}}</string>
                <key>sourceSize</key>
                <string>{220,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsFirst-hd.pvr.ccz</string>
            <key>size</key>
            <string>{600,1726}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a99be2a9a07a82a5b1534ca8d86ce067$</string>
            <key>textureFileName</key>
            <string>PetsFirst-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
