<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Icon_EggBoss11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,1338},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,1352},{98,106}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggBoss11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,1348},{86,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggBoss11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1244},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1250},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1186,1336},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1228},{100,106}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,77},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFat11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,1136},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,904},{122,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,77},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,1126},{122,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,77},{122,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,1120},{100,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,77},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggFly11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1324},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1236},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,1012},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,1348},{96,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,77},{96,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,948},{86,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,77},{86,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,1012},{100,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,77},{100,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1136},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1260},{86,112}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{87,71},{86,112}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggLand21_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1348,1036},{98,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,77},{98,106}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>Icon_EggWhale11_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1126},{120,132}}</string>
                <key>offset</key>
                <string>{17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,77},{120,132}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>giftbox_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,1336},{80,74}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>icon_bignest.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{242,236}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,13},{242,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_cookie.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_egg.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,240},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_medicine.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,988},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_milk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1226},{234,236}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{234,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>icon_nest.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{238,236}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{238,236}}</string>
                <key>sourceSize</key>
                <string>{260,260}</string>
            </dict>
            <key>ok_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,1052},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ok_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,978},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ok_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,904},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ok_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1398},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ok_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,552},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>ok_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,478},{214,72}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>reward_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{910,342}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,18},{910,342}}</string>
                <key>sourceSize</key>
                <string>{920,360}</string>
            </dict>
            <key>spark.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,640}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>spark_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1226},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>text_bignest_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,604},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_bignest_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,240},{334,102}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,10},{334,102}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_bignest_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,804},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_cookie_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,704},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_cookie_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1092},{354,102}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{354,102}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_cookie_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,604},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_egg_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,584},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_egg_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1196},{354,100}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,11},{354,100}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_egg_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,504},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_medicine_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,404},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_medicine_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{348,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{348,100}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_medicine_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,304},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_milk_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,240},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_milk_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,988},{354,102}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{354,102}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_milk_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,204},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_nest_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1298},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_nest_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,988},{334,102}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{334,102}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>text_nest_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,104},{342,98}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,10},{342,98}}</string>
                <key>sourceSize</key>
                <string>{380,120}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1226},{26,28}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{26,28}}</string>
                <key>sourceSize</key>
                <string>{26,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsDrop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1473,1473}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcb6e7330bda6ba50a2c1d3105d606bc$</string>
            <key>textureFileName</key>
            <string>PetsDrop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
