<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,302},{30,30}}</string>
                <key>offset</key>
                <string>{25,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,60},{30,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,270},{30,30}}</string>
                <key>offset</key>
                <string>{25,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,61},{30,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,328},{82,30}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,46},{82,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,244},{82,32}}</string>
                <key>offset</key>
                <string>{4,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,45},{82,32}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,430},{42,22}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,344},{42,22}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,83},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,310},{58,28}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,75},{58,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,284},{58,28}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,76},{58,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,426},{42,26}}</string>
                <key>offset</key>
                <string>{32,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,34},{42,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>EPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,382},{42,26}}</string>
                <key>offset</key>
                <string>{32,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,34},{42,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{176,118}}</string>
                <key>offset</key>
                <string>{1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,25},{176,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{172,122}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{172,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{172,120}}</string>
                <key>offset</key>
                <string>{0,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,23},{172,120}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,220},{108,116}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,26},{108,116}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,240},{110,112}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,31},{110,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,126},{108,122}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,20},{108,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{154,122}}</string>
                <key>offset</key>
                <string>{-14,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{154,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{154,122}}</string>
                <key>offset</key>
                <string>{-13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{154,122}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{152,126}}</string>
                <key>offset</key>
                <string>{-13,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{152,126}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,142},{62,136}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,9},{62,136}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{64,134}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,12},{64,134}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,2},{62,138}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,7},{62,138}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,236},{104,116}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,28},{104,116}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,236},{100,114}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,31},{100,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>PetLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,130},{112,118}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,26},{112,118}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,200},{68,30}}</string>
                <key>offset</key>
                <string>{-3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,86},{68,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,130},{68,30}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,87},{68,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,328},{82,30}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,88},{82,30}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,244},{82,32}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,87},{82,32}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,430},{42,22}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,98},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,344},{42,22}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,98},{42,22}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,280},{62,28}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,97},{62,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,220},{62,28}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,98},{62,28}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,334},{46,26}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{46,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SEPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,340},{46,26}}</string>
                <key>offset</key>
                <string>{25,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{95,68},{46,26}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,112},{138,106}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,42},{138,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,126},{138,104}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,44},{138,104}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetBoss13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,2},{138,108}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,40},{138,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,452},{104,104}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,40},{104,104}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,368},{106,102}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,44},{106,102}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFat13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,352},{102,106}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,38},{102,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,232},{134,110}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,42},{134,110}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,126},{136,108}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,52},{136,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetFly13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{132,108}}</string>
                <key>offset</key>
                <string>{-11,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{132,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand11_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,342},{78,114}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,37},{78,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand12_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,126},{80,112}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,40},{80,112}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand13_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,338},{78,114}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,35},{78,114}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand21_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,348},{102,106}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,40},{102,106}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand22_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,244},{110,102}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,45},{110,102}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
            <key>SPetLand23_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,330},{98,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,38},{98,108}}</string>
                <key>sourceSize</key>
                <string>{186,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsTheme02-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1475f372b77c67ecd1de962e18b71374$</string>
            <key>textureFileName</key>
            <string>PetsTheme02-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
