<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ShopMainBG.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{960,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{960,640}}</string>
                <key>sourceSize</key>
                <string>{960,640}</string>
            </dict>
            <key>buy_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,992},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{194,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>buy_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,918},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{194,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>buy_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,844},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{194,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>buy_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,770},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{194,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>buy_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,696},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{194,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>buy_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,622},{194,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,15},{194,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>extremeunlock_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1866,2},{322,162}}</string>
                <key>offset</key>
                <string>{-109,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{322,162}}</string>
                <key>sourceSize</key>
                <string>{540,180}</string>
            </dict>
            <key>get_normal_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,726},{192,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,15},{192,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>get_normal_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,1210},{192,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{192,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>get_normal_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1210},{192,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{192,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>get_pressed_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1214},{192,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{192,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>get_pressed_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1140},{192,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{192,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>get_pressed_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,1066},{192,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{192,72}}</string>
                <key>sourceSize</key>
                <string>{200,100}</string>
            </dict>
            <key>shop_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,642},{816,586}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,14},{816,586}}</string>
                <key>sourceSize</key>
                <string>{900,600}</string>
            </dict>
            <key>shop_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,644},{296,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,8},{296,80}}</string>
                <key>sourceSize</key>
                <string>{420,100}</string>
            </dict>
            <key>shop_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{900,138}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{900,138}}</string>
                <key>sourceSize</key>
                <string>{900,140}</string>
            </dict>
            <key>shop_warning_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1288},{722,334}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{722,334}}</string>
                <key>sourceSize</key>
                <string>{730,340}</string>
            </dict>
            <key>shop_warning_cancel_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,548},{214,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_cancel_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,474},{214,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_goon_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,400},{214,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>shop_warning_goon_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1830,326},{214,72}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{214,72}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>slideup_CN.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,942},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>slideup_EN.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>slideup_TW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{266,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,9},{266,142}}</string>
                <key>sourceSize</key>
                <string>{300,160}</string>
            </dict>
            <key>stage_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,142},{864,268}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{864,268}}</string>
                <key>sourceSize</key>
                <string>{900,280}</string>
            </dict>
            <key>stage_repeat.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,412},{864,228}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{864,228}}</string>
                <key>sourceSize</key>
                <string>{900,240}</string>
            </dict>
            <key>switch_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,644},{512,80}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{512,80}}</string>
                <key>sourceSize</key>
                <string>{520,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PetsShop-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21492ca53a6b1430a86ad8ca7a72bfe5$</string>
            <key>textureFileName</key>
            <string>PetsShop-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
